.health-status-form{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    color: black;
    max-width: 700px;
    background-color: #fff;
}

.health-status-form h2{
    color: black;
    margin-bottom: 1rem;
}

.health-status-form > div{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.health-status-form label{
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
}

.health-status-form select{
    padding: 0.5rem 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #222;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.health-status-form select:hover{
    border-color: #007bff;
}

.health-status-form select:focus{
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* button group */
.health-status-form .button-group{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.health-status-form .save-button,
.health-status-form .cancel-button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.health-status-form .save-button{
    background-color: #28a745;
}

.health-status-form .save-button:hover{
    background-color: #218838;
}

.health-status-form .cancel-button{
    background-color: #dc3545;
}

.health-status-form .cancel-button:hover{
    background-color: #c82333;
}