.affecte-body-parts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.affected-body-parts-input {
  display: grid;
  grid-template-columns: 1fr 3fr 6fr 3fr 1fr;
  gap: 6px;
}

.affected-body-parts-input > input {
  height: 20px;
  margin: auto;
}

.affected-body-parts-input .sides,
.affected-body-parts-input .states {
  flex-grow: 1;
}

.affected-body-parts-input .body-parts {
  flex-grow: 3;
}
